.wrapper{
	width: 960px;
}

.top{
	min-height: 150px;
	background-color: #FE0200;
}

.sub_wrapper{
	min-height: 200px;
	clear: both;
	overflow: hidden;
	width: 1000px;
}

.left{
	width: 320px;
	background-color: #00AC50;
}

.right_wrapper{
	float: right;
	width: 640px;
	min-height: 200px;
	overflow: hidden;
}


.left, .right_wrapper, .top_right, .top_left{
	padding-bottom: 10000px;
	margin-bottom: -10000px;
}


.top_wrapped{
	width: 640px;
	min-height: 100px;
	clear: both;
	overflow: hidden;
}

.top_left{
	width: 320px;
	min-height: 100px;
	background-color: #FFC118;
}

.top_right{
	width: 320px;
	min-height: 100px;
	background-color: #6B2A99;
	float: right;
}

.bottom_wrapped{
	background-color: #006BBB;
	width: 640px;
	min-height: 100px;
}

.bottom{
	background-color: #C1C1C1;
	min-height: 100px;
}