.wrapper{
	max-width: 962px;
}

.top{
	min-height: 151px;
	background-color: yellow;
	border: 1px solid red;
	border-bottom: 0px;
}

.left{
	width: 262px;
	background-color: blue;
	border: 1px solid blue;
	display: table-cell;
}

.right{
	width: 701px;
	padding: 10px;
	background-color: white;
	border: 1px solid blue;
	border-top: 1px solid red;
	border-left: 0px;
	display: table-cell;
}

.sub_wrapper{
	display: table;
}

.bottom{
	min-height: 201px;
	background-color: red;
	border: 1px solid blue;
	border-top: 0px;
}