.wrapper{
	max-width: 963px;
}

.top{
	min-height: 151px;
	background-color: #FFFF40;
	border: 1px solid #FE0200;
	border-bottom: 0px;
}

.sub_wrapper{
	margin:0 auto;
	overflow: hidden;
}

.left {
    border: 1px solid #006CBB;
    border-right: 0px;
    background-color: #006CBB; 
    width: 262px;
    border: 1px solid #006CBB;
    min-height: 200px;
}

.right {
	width: 681px;
	padding: 10px;
    float: right;
    border: 1px solid #006CBB;
    border-top: 1px solid #FE0200;
    border-left: 0px;
}

.left, .right{
	padding-bottom: 1000px;
	margin-bottom: -1000px;
}

.bottom{
	min-height: 201px;
	background-color: #FE0200;
	border: 1px solid #006CBB;
	border-top: 0px;
}
