.wrapper{
	background-image: url('shadow.png');
	background-repeat: no-repeat;
	background-size: 150% 200%;
	margin: auto;
	width: 770px;
	position: relative;
}

.bottom-shadow{
	background-image: url('bottom-shadow.png');
	background-repeat: no-repeat;
	background-size: 160% 200%;
	width: 100%;
	height: 20px;
}

.wrapper_out{
	overflow: hidden;
}